body {
  margin: 0;
  color: #2b283a;
  font-family: 'Roboto', sans-serif;
}

/* Typogrophy */
h1, h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: #451c7a;
  font-size: 1.4rem;
  margin-top: 0;
}

.subheading {
  display: block;
  font-weight: 500;
  color: d0aaff;
  font-size: 1rem;
  color: #d0aaff;
}

p {
  line-height: 1.7;
}

/* Layout */
header {
  text-align: center;
}

header, .section-two {
  background-color: #5f29a3;
  color: whitesmoke;
}

header, section, footer {
  padding: 1.4em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.sneaker-img {
  width: 90%;
  display: block;
  margin: 0 auto 3rem;
}

.feature-img {
  width: 100%;;
  border-radius: 5px;
  margin-bottom: 1em;
}

/* Links */
a {
  color: #ef5839;
  text-decoration: underline dotted; 
}

a:hover, 
a:active {
  color: #d4b44c;
}

.btn {
  font-size: 1.1rem;
  padding: 0.6rem 1.3em;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 0.5em;
  display: block;
  text-align: center;
}

.btn:hover, .btn:active {
  color: #2b283a;
  background-color: #f3e885;
}

.buy-btn {
  color: whitesmoke;
  background-color: #5f29a3;
}

.info-btn, .about-btn {
  color: #5f29a3;
}

.info-btn {
  background-color: #e3cdf8;
}

.about-btn {
  background-color: whitesmoke;
}

/* Footer */
.footer-content {
  font-size: 1.1rem;
  color: #5f29a3;
  text-align: center;
}

/* ----- NAVIGATION ----- */
nav {
  margin-top: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.7em 0;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li:not(:last-child) {
  border-bottom: 1px dotted #a190b6;
}

/* MEDIA QUERIES */
@media (min-width: 501px) {
  .section-two-img-container {
    display: flex;
    justify-content: space-between;
  }
  .feature-img {
    width: 48%;
  }
}

@media (min-width: 800px) {
  header, section, footer {
    padding: 3em 0;
  }
  .btn {
    margin-right: 0.5em;
    display: inline-block;
    text-align: left;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
  p {
    font-size: 1.1rem;
  }
  header {
    text-align: left;
  }
  nav {
    margin-top: 0;
  }
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  li:not(:last-child) {
    border: none;
  }
  li {
    display: inline-block;
    margin-right: 0.5em;
  }
}